{
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "es5",
  "vueIndentScriptAndStyle": true,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./app/assets/css/main.css",
  "tailwindAttributes": ["ui"]
}
