@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
  --color-power: oklch(0.5247 0.1698 27.32);
  --color-speed: oklch(0.5006 0.1546 256.67);
  --color-technical: oklch(0.6024 0.1505 133.1);
  --color-gold: var(--color-amber-300);
  --default-transition-duration: 200ms;
}

@theme static {
  --container-8xl: 90rem;
}

:root {
  --ui-container: var(--container-8xl);
  --ui-radius: 0.125rem;
  /* --ui-bg: var(--ui-color-neutral-100); */
}

.dark {
  /* --ui-primary: var(--ui-color-primary-500); */
  /* --ui-bg: var(--ui-color-neutral-900); */
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  .box {
    @apply rounded-md bg-default/50 shadow;
  }

  .box-link {
    @apply transition-colors hover:bg-default active:bg-accented/50;
  }

  .box-link-inline {
    @apply transition-opacity hover:opacity-75 active:opacity-50;
  }
}
