@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
  --default-transition-duration: 200ms;
}

@theme static {
  --container-8xl: 90rem;
}

:root {
  --ui-container: var(--container-8xl);
  --ui-radius: 0.125rem;
  /* --ui-bg: var(--ui-color-neutral-100); */
}

.dark {
  /* --ui-primary: var(--ui-color-primary-500); */
  /* --ui-bg: var(--ui-color-neutral-900); */
}
